
html,
body,
.app {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}
.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time {
  font-size: 90px;
}
.second {
  font-size: 250px;
}
.date {
  font-size: 40px;
}

